body {
    background-image: linear-gradient(rgb(207, 213, 216), rgb(111, 185, 214));
}
@font-face {
    font-family: "paris";
    src: url(../images/CFParis-Regular.ttf);
  }
nav { 
    font-family: "paris";
}
.hero-image {
    background-image: url(../images/paris-train.jpg);
    background-size: 100% 100%;  
    height: 250px;  
}
h1 {
    font-size: 55px;
}
@font-face {
    font-family: "train-schedule";
    src: url(../images/SCOREBOARD.ttf);
  }
#train-schedule {
    font-family: "train-schedule" !important;
    font-size: 25px;
    color: #343a40;
}
